@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Sitio web desarrollado con el fin de compartir los grupos de What's App de la UNED.</p>

<p>Este proyecto se encuentra en GitHub por lo que si está interesado puede contribuir en el desarrollo</p>
