@{
    ViewBag.Title = "Guía";
}
<br />
<div class="panel panel-default">
    <div class="panel-heading"><h3>Guía de uso</h3></div>
    <div class="panel-body">


        <div class="row">
            <div class="col-md-12">


                <ul class="start ">
                    <li>Se recomienda utilizar un navegador como Mozilla o Google Chrome desde un dispostivo donde tenga el WhatsApp abierto.</li>
                    <br />
                    <li>Para buscar un grupo puede realizarlo por código y nombre.</li>
                    Por ejemplo

                </ul>

                <div class="col-md-12">
                    <figure>
                        <figcaption>1 - Seleccione el icono al final de la columna</figcaption>
                        <img src="~/Content/img/00.png" class="img-responsive" />
                    </figure>

                </div>

                <br />

                <div class="col-md-12">
                    <figure>
                        <figcaption>2 - Se puede buscar por diferentes criterios</figcaption>
                        <img src="~/Content/img/01.png" class="img-responsive " />
                    </figure>

                </div>

                <br />

                <div class="col-md-12 ">
                    <figure>
                        <figcaption>3 - Seleccione el criterio que desee, se recomienda "contiene"</figcaption>
                        <img src="~/Content/img/02.png" class="img-responsive" />
                    </figure>

                </div>

                <br />

                <div class="col-md-12 ">
                    <figure>
                        <figcaption>4 - Ingrese el código o nombre de la materia que busca y presione en aplicar filtro</figcaption>
                        <img src="~/Content/img/03.png" class="img-responsive " />
                    </figure>

                </div>

                <br />

                <div class="col-md-12">
                    <figure>
                        <figcaption>5 - Los grupos que cumplan con el criterio van aparecer</figcaption>
                        <img src="~/Content/img/04.png" class="img-responsive" />
                    </figure>

                </div>



            </div>
        </div>
    </div>
</div>
<br/>